@using Newtonsoft.Json;
@{
    ViewData["Title"] = "Şifre Resetleme";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>@ViewData["Title"] - END ENERJI</title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- IonIcons -->
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="~/dist/css/loading.css">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE -->
    <script src="~/dist/js/adminlte.js"></script>

    <script src="~/js/alertJs.js"></script>
    <script src="~/js/fetchMethods.js"></script>

    <script src="~/js/AgGridConfiguration.js"></script>
    <script src="~/js/modalInsert.js"></script>
    <script src="~/js/sweetalert.js"></script>
    <script src="~/js/dropdownFill.js"></script>


    <style>

        .mb-4 {
            font-size: 14px; /* Font boyutu ayarı */
        }

            .mb-4 p {
                font-weight: bold;
            }

        .form-control {
            height: 80%; /* Önceki yüksekliğin %80'i kadar yükseklik ayarı */
            font-size: 14px; /* Font boyutu ayarı */
        }

        .col-form-label {
            height: 80%; /* Önceki yüksekliğin %80'i kadar yükseklik ayarı */
            font-size: 14px; /* Font boyutu ayarı */
        }
    </style>
</head>
<body>


    <div class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-12">
                    <div class="card mt-3">
                        <div class="card-header border-0" style="background-color: rgba(244, 246, 249, 1); height: 40px; display: flex; align-items: center;">
                            <h3 class="card-title" style="font-size:14px;">Bu ekran üzerinden kullanıcı şifrenizi değiştirebilirsiniz.</h3>
                            <div class="card-tools ml-auto btn-group">
                            </div>
                        </div>
                        <div class="full-page">
                            <div class="card-body" style="height:80vh;">

                                <div class="mb-4">
                                    <p>Ad: <span id="name"></span></p>
                                    <p>Soyad: <span id="surname"></span></p>
                                    <p>Kullanıcı Adı: <span id="username"></span></p>
                                    <p>E-posta: <span id="email"></span></p>
                                </div>
                                <hr />
                                <form class="form-horizontal" id="sifre-degistir-form">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="text" class="form-control" style="display:none" id="UserLoginId" name="UserLoginId" placeholder="">

                                            <div class="form-group">
                                                <label for="new_pod_require" class="col-form-label">Yeni Şifre</label>
                                                <input type="password" class="form-control" id="new_pass" placeholder="Yeni Şifre" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="UserLogin_mail" class="col-form-label">Yeni Şifre Tekrar</label>
                                                <input type="password" class="form-control" id="new_pass_again" placeholder="Yeni Şifre Tekrar" required>
                                            </div>

                                            <button type="submit" class="btn btn-default">Şifre Değiştir</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>



</body>
</html>



<script>


    $(document).ready(async function () {
        getDataUserLogin();
    });

    var user;
    var userId;
    async function getDataUserLogin() {  
       var currentUrl = window.location.href;
        var urlParams = new URLSearchParams(currentUrl.split('?')[1]);
       var userId= urlParams.get("userId");
        console.log(userId);

        const apiUrl = `/Methods/GetByID?ControllerName=UserLogin&Id=${userId}`;
        try {
            const response = await fetch(apiUrl);
            if (response.ok) {
                const data = await response.json();
                user = data;
                console.log('API verisi:', data);
                document.getElementById("name").innerText = data.name;
                document.getElementById("surname").innerText = data.surName;
                document.getElementById("username").innerText = data.userName;
                document.getElementById("email").innerText = data.userEmail;
            } else {
                console.error('API çağrısı başarısız.');
            }
        } catch (error) {
            console.error('API çağrısı sırasında bir hata oluştu:', error);
        }


    }


    // Şifre değiştirme formunu işle

    const sifreDegistirForm = document.getElementById("sifre-degistir-form");
    sifreDegistirForm.addEventListener("submit", function (event) {
        event.preventDefault();

        console.log("user data" + user);
        const yeniSifre = document.getElementById("new_pass").value;
        const yeniSifreTekrar = document.getElementById("new_pass_again").value;
        if (yeniSifre === yeniSifreTekrar) {
            user.userPassword = yeniSifre;

            callUpdateMethod("UserLogin", user)
                .then(result => {
                    console.log("Sonuç:", result);
                    setTimeout(function () {
                        window.location.href = '/Login/Index';
                    }, 3000); 
                })
                .catch(error => {
                    swal.fire({
                        icon: 'error',
                        title: 'Hata',
                        text: 'Bir hata oluştu. Lütfen tekrar deneyin.'
                    });
                    console.error("Hata:", error);
                });
        } else {
            swal.fire({
                icon: 'error',
                title: 'Hata',
                text: 'Şifreler uyuşmuyor. Lütfen tekrar deneyin.'
            });
        }
    });




</script>