@{
    ViewData["Title"] = "Makine Arıza Duruşları";
}
<!-- SITE MAP START -->
<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb bg-transparent py-1 ps-3 mb-1">
                            <li class="breadcrumb-item text-sm">
                                <a class="opacity-3 text-dark" href="javascript:;">
                                    <svg width="12px" height="12px" class="mb-1" viewBox="0 0 45 40" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <title>shop </title>
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <g transform="translate(-1716.000000, -439.000000)" fill="#252f40"
                                                fill-rule="nonzero">
                                                <g transform="translate(1716.000000, 291.000000)">
                                                    <g transform="translate(0.000000, 148.000000)">
                                                        <path
                                                            d="M46.7199583,10.7414583 L40.8449583,0.949791667 C40.4909749,0.360605034 39.8540131,0 39.1666667,0 L7.83333333,0 C7.1459869,0 6.50902508,0.360605034 6.15504167,0.949791667 L0.280041667,10.7414583 C0.0969176761,11.0460037 -1.23209662e-05,11.3946378 -1.23209662e-05,11.75 C-0.00758042603,16.0663731 3.48367543,19.5725301 7.80004167,19.5833333 L7.81570833,19.5833333 C9.75003686,19.5882688 11.6168794,18.8726691 13.0522917,17.5760417 C16.0171492,20.2556967 20.5292675,20.2556967 23.494125,17.5760417 C26.4604562,20.2616016 30.9794188,20.2616016 33.94575,17.5760417 C36.2421905,19.6477597 39.5441143,20.1708521 42.3684437,18.9103691 C45.1927731,17.649886 47.0084685,14.8428276 47.0000295,11.75 C47.0000295,11.3946378 46.9030823,11.0460037 46.7199583,10.7414583 Z">
                                                        </path>
                                                        <path
                                                            d="M39.198,22.4912623 C37.3776246,22.4928106 35.5817531,22.0149171 33.951625,21.0951667 L33.92225,21.1107282 C31.1430221,22.6838032 27.9255001,22.9318916 24.9844167,21.7998837 C24.4750389,21.605469 23.9777983,21.3722567 23.4960833,21.1018359 L23.4745417,21.1129513 C20.6961809,22.6871153 17.4786145,22.9344611 14.5386667,21.7998837 C14.029926,21.6054643 13.533337,21.3722507 13.0522917,21.1018359 C11.4250962,22.0190609 9.63246555,22.4947009 7.81570833,22.4912623 C7.16510551,22.4842162 6.51607673,22.4173045 5.875,22.2911849 L5.875,44.7220845 C5.875,45.9498589 6.7517757,46.9451667 7.83333333,46.9451667 L19.5833333,46.9451667 L19.5833333,33.6066734 L27.4166667,33.6066734 L27.4166667,46.9451667 L39.1666667,46.9451667 C40.2482243,46.9451667 41.125,45.9498589 41.125,44.7220845 L41.125,22.2822926 C40.4887822,22.4116582 39.8442868,22.4815492 39.198,22.4912623 Z">
                                                        </path>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </a>
                            </li>
                            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark"
                                    href="javascript:;">Makine
                                    Yönetimi </a>
                            </li>
                            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="/WorkCenter">Makine
                                </a></li>
                            <li class="breadcrumb-item text-sm text-dark fw-bold active" aria-current="page">
                                @ViewData["Title"]</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12 mb-1">
                    <div class="row justify-content-end">
                        <div class="col-6">
                            <div class="dropdown-custom">
                                <select name="" id="workCenter_topSelect" class="shadow">
                                    <option value="">Lütfen bir seçim yapınız...</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="dropdown-custom">
                                <select name="" id="workCenter_topmenu" class="shadow"
                                    onchange="redirectToWorkCenterAnotherPage(this.value)">
                                    <option value="WorkCenterDetail">Makine Bilgileri</option>
                                    <option value="WorkCenterEnergy">Enerji Ayarları</option>
                                    <option value="WorkCenterOPCSettings">Makine OPC Ayarları</option>
                                    <option value="WorkCenterAutonomousMaintenance">Otonom Bakım Listesi</option>
                                    <option value="WorkCenterDocumentPaths">Makine Döküman Yolu Listesi</option>
                                    <option value="WorkCenterDowntime">Makine Duruşları</option>
                                    <option value="WorkCenterDowntimeCause" selected>Makine Arıza Duruşları</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- SITE MAP END -->

<!-- CARD BODY START -->
<div class="col-sm-12 mb-2" id="card-detail">
    <div class="row">
        <!-- CARD 1 START -->
        <div class="col-sm-6 mb-2">
            <div class="card shadow-custom border border-custom h-100">
                <div class="card-header py-2 grid border-bottom bg-gray-200 bg-gradient shadow">
                    <h6 class="mb-0 text-sm lh-base">Firma Bilgileri</h6>
                </div>
                <div class="card-body py-3 m-0 text-sm text-dark">
                    <div class="mb-1">
                        <label class="text-dark ms-0 fw-bold">Adı - Kodu:</label> <span id="lblName"></span>
                    </div>
                    <div class="mb-1">
                        <label class="text-dark ms-0 fw-bold">Departman:</label> <span id="lblDepartmentName"></span>
                    </div>
                    <div class="mb-1">
                        <label class="text-dark ms-0 fw-bold">GroupAdı:</label> <span id="lblGroupName"></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- CARD 1 END -->

        <!-- CARD 2 START -->
        <div class="col-sm-6 mb-2">
            <div class="card shadow-custom border border-custom h-100">
                <div class="card-header py-2 grid border-bottom bg-gray-200 bg-gradient shadow">
                    <h5 class="mb-0 text-sm lh-base fw-bold">OPC Bilgileri</h5>
                </div>
                <div class="card-body py-3 m-0 text-sm text-dark">
                    <div class="mb-1">
                        <label class="text-dark ms-0 fw-bold">Maliyet Merkezi:</label> <span
                            id="lblCostCenterName"></span>
                    </div>
                    <div class="mb-1">
                        <label class="text-dark ms-0 fw-bold">Red ID:</label> <span id="lblRICID">
                        </span>
                    </div>
                    <div class="mb-1">
                        <label class="text-dark ms-0 fw-bold">Rec Version:</label> <span id="lblRECVERSION">
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- CARD 2 END -->
    </div>
</div>
<!-- CARD BODY END -->


<!-- CONTAINER CARD START -->
<div class="col-sm-12">
    <div class="card shadow-custom border border-custom">
        <!-- CARD HEADER START -->
        <div
            class="card-header px-3 py-2 grid border-bottom bg-gray-200 bg-gradient shadow d-md-flex align-items-center justify-content-between gap-2">
            <div class="d-flex gap-2 mb-2 mb-md-0">
                <div class="input-group input-group-outline input-group-sm bg-white rounded">
                    <label class="form-label">Arama Yap</label>
                    <input type="text" id="filter-text-boxWorkCenterDowntimeCauses"
                        class="form-control form-control-sm text-sm"
                        oninput="onFilterTextBoxChanged(gridOptionsWorkCenterDowntimeCausesApi,this)">
                </div>
                <div class="btn-group d-flex">
                    <button type="button"
                        class="btn btn-icon px-2 py-1 bg-gradient bg-white border border-custom text-dark mb-0"
                        onclick=" customSizeToFit(gridOptionsWorkCenterDowntimeCausesApi)" data-bs-tooltip="tooltip"
                        data-bs-placement="bottom" title="Sığdır" data-container="body" data-animation="true">
                        <span class="btn-inner--icon">
                            <i class="material-icons text-dark fs-6">
                                horizontal_distribute
                            </i>
                        </span>
                    </button>
                    <button type="button"
                        class="btn btn-icon px-2 py-1 bg-gradient bg-white border border-custom text-dark mb-0"
                        onclick="customAutoSizeAll(gridOptionsWorkCenterDowntimeCausesApi,false)"
                        data-bs-tooltip="tooltip" data-bs-placement="bottom" title="Otomatik Boyutlandır"
                        data-container="body" data-animation="true">
                        <span class="btn-inner--icon">
                            <i class="material-icons text-dark fs-6">
                                vertical_distribute
                            </i>
                        </span>
                    </button>
                    <button type="button"
                        class="btn btn-icon px-2 py-1 bg-gradient bg-white border border-custom text-dark mb-0"
                        onclick="customAutoSizeAll(gridOptionsWorkCenterDowntimeCausesApi,true)"
                        data-bs-tooltip="tooltip" data-bs-placement="bottom"
                        title="Otomatik Boyutlandır (Başlıkları Önemseme)" data-container="body" data-animation="true">
                        <span class="btn-inner--icon">
                            <i class="material-icons text-dark fs-6">
                                density_large
                            </i>
                        </span>
                    </button>
                    <button type="button"
                        class="btn btn-icon px-2 py-1 bg-gradient bg-white border border-custom text-dark mb-0"
                        onclick="gridExportExcel(gridOptionsWorkCenterDowntimeCausesApi)" data-bs-tooltip="tooltip"
                        data-bs-placement="bottom" title="Excel'e Aktar" data-container="body" data-animation="true">
                        <span class="btn-inner--icon">
                            <i class="material-icons text-dark fs-6">
                                upload_file
                            </i>
                        </span>
                    </button>
                    <button type="button"
                        class="btn btn-icon px-2 py-1 bg-gradient bg-white border border-custom text-dark mb-0"
                        onclick="gridLayoutSave(gridOptionsWorkCenterDowntimeCausesApi,'GridWorkCenterDowntimeCauses',getCookie('testUserId'));"
                        data-bs-tooltip="tooltip" data-bs-placement="bottom" title="Düzeni Kaydet" data-container="body"
                        data-animation="true">
                        <span class="btn-inner--icon">
                            <i class="material-icons text-dark fs-6">
                                save
                            </i>
                        </span>
                    </button>
                </div>
            </div>
            <div class="btn-group d-flex">
                <button class="btn btn-icon px-2 py-1 bg-white border border-custom mb-0" data-bs-toggle="modal"
                    data-bs-target="#modalWorkCenterDowntimeCauses" data-bs-tooltip="tooltip" data-bs-placement="bottom"
                    title="Ekle" data-container="body" data-animation="true">
                    <span class="btn-inner--icon">
                        <i class="material-icons text-dark fs-6 fw-bold">
                            add
                        </i>
                    </span>
                </button>
                <button class="btn btn-icon px-2 py-1 bg-white border border-custom mb-0"
                    onclick="agGridSelectedrow(gridOptionsWorkCenterDowntimeCausesApi, 'WorkCenterDowntimeCauses', 'Güncelle', 'Şube');"
                    data-bs-tooltip="tooltip" data-bs-placement="bottom" title="Düzenle" data-container="body"
                    data-animation="true">
                    <span class="btn-inner--icon">
                        <i class="material-icons text-dark fs-6">
                            edit
                        </i>
                    </span>
                </button>
                <button class="btn btn-icon px-2 py-1 bg-white border border-custom mb-0"
                    onclick="agGridSelectedrow(gridOptionsWorkCenterDowntimeCausesApi, 'WorkCenterDowntimeCauses', 'Sil', 'Şube');"
                    data-bs-tooltip="tooltip" data-bs-placement="bottom" title="Sil" data-container="body"
                    data-animation="true">
                    <span class="btn-inner--icon">
                        <i class="material-icons text-dark fs-6">
                            delete
                        </i>
                    </span>
                </button>
            </div>
        </div>
        <!-- CARD HEADER END -->
        <!-- CARD BODY START -->
        <div class="card-body p-3 grid-container">
            <div id="GridWorkCenterDowntimeCauses" class="ag-theme-alpine">
            </div>
        </div>
        <!-- CARD BODY END -->
    </div>
</div>
<!-- CONTAINER CARD END -->

<!-- MODAL START -->
<div class="modal fade" id="modalWorkCenterDowntimeCauses" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" style="z-index: 9999;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-top" role="document">
        <div class="modal-content">
            <!-- MODAL HEADER START  -->
            <div class="modal-header bg-gradient bg-gray-200 border-bottom shadow py-2">
                <h6 class="modal-title" id="exampleModalLabel">Makine Arıza Tanımları</h6>
                <button type="button" class="btn-close text-dark d-flex align-items-center justify-content-center"
                    data-bs-dismiss="modal" aria-label="Close">
                    <span class="fs-4" aria-hidden="true">×</span>
                </button>
            </div>
            <!-- MODAL HEADER END  -->
            <!-- MODAL BODY START  -->
            <div class="modal-body">
                <div class="row">
                    <form id="formWorkCenterDowntimeCauses">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-12 mb-2 d-none">
                                    <div class="input-group input-group-static">
                                        <label class="fw-bolder text-sm mb-1" id="lbl_id" for="id">id</label>
                                        <input type="text" class="form-control form-control-sm form-control-custom"
                                            placeholder="id" id="id">
                                    </div>
                                </div>
                                <div class="col-12 mb-2 d-none">
                                    <div class="input-group input-group-static">
                                        <label class="fw-bolder text-sm mb-1" id="lbl_createdAt"
                                            for="createdAt">createdAt</label>
                                        <input type="text" class="form-control form-control-sm form-control-custom"
                                            placeholder="createdAt" id="createdAt">
                                    </div>
                                </div>
                                <div class="col-12 mb-2 d-none">
                                    <div class="input-group input-group-static">
                                        <label class="fw-bolder text-sm mb-1" id="lbl_updatedAt"
                                            for="updatedAt">updatedAt</label>
                                        <input type="text" class="form-control form-control-sm form-control-custom"
                                            placeholder="updatedAt" id="updatedAt">
                                    </div>
                                </div>
                                <div class="col-12 mb-2 d-none">
                                    <div class="input-group input-group-static">
                                        <label class="fw-bolder text-sm mb-1" id="lbl_active"
                                            for="active">active</label>
                                        <input type="text" class="form-control form-control-sm form-control-custom"
                                            placeholder="active" id="active">
                                    </div>
                                </div>

                                <div class="col-12 mb-2">
                                    <div class="input-group input-group-static">
                                        <label class="fw-bolder text-sm mb-1" id="lbl_workCenterID"
                                            for="workCenterID">workCenterID</label>
                                        <input type="text" class="form-control form-control-sm form-control-custom"
                                            placeholder="workCenterID" id="workCenterID">
                                    </div>
                                </div>
                                <div class="col-12 mb-2">
                                    <div class="dropdown-custom">
                                        <label id="lbl_companyID" for="companyID" class="fw-bolder mb-1 ms-0">Şirket
                                        </label>
                                        <select name="companyID" id="companyID" onchange="companyIDOnChange()">
                                            <option value="">Lütfen bir seçim yapınız...</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 mb-2">
                                    <div class="dropdown-custom">
                                        <label id="lbl_branchID" for="branchID" class="fw-bolder mb-1 ms-0">Şube
                                        </label>
                                        <select name="branchID" id="branchID">
                                            <option value="">Lütfen bir seçim yapınız...</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 mb-2">
                                    <div class="dropdown-custom">
                                        <label id="lbl_workCenterDownTimeGroupID" for="workCenterDownTimeGroupID"
                                            class="fw-bolder mb-1 ms-0">Arıza Grupları
                                            Tipi</label>
                                        <select name="workCenterDownTimeGroupID" id="workCenterDownTimeGroupID">
                                            <option value="">Lütfen bir seçim yapınız...</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 mb-2">
                                    <div class="dropdown-custom">
                                        <label id="lbl_workTypeID" for="workTypeID" class="fw-bolder mb-1 ms-0">Arıza
                                            Çalışma Tip
                                            Grubu
                                            Tipi</label>
                                        <select name="workTypeID" id="workTypeID">
                                            <option value="">Lütfen bir seçim yapınız...</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 mb-2">
                                    <div class="input-group input-group-static">
                                        <label class="fw-bolder text-sm mb-1" id="lbl_code" for="code">Kod
                                        </label>
                                        <input type="text" class="form-control form-control-sm form-control-custom"
                                            placeholder="Kod" id="code">
                                    </div>
                                </div>
                                <div class="col-12 mb-2">
                                    <div class="input-group input-group-static">
                                        <label class="fw-bolder text-sm mb-1" id="lbl_description"
                                            for="description">Açıklama
                                        </label>
                                        <input type="text" class="form-control form-control-sm form-control-custom"
                                            placeholder="Açıklama" id="description">
                                    </div>
                                </div>
                                <div class="col-12 mb-2">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="planned">
                                        <label class="form-check-label fw-bold" for="planned">Planlı</label>
                                    </div>
                                </div>
                                <div class="col-12 mb-2">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="qualityCall">
                                        <label class="form-check-label fw-bold" for="qualityCall">Kalite Çağrı</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- MODAL BODY END  -->
            <!-- MODAL FOOTER START  -->
            <div class="modal-footer">
                <button type="button" id="closeWorkCenterDowntimeCauses"
                    class="btn btn-sm btn-outline-secondary shadow border border-custom m-0 me-2"
                    data-bs-dismiss="modal">Kapat</button>
                <button type="button" id="submitWorkCenterDowntimeCauses"
                    class="btn btn-sm bg-gradient btn-brand-color shadow m-0 me-1"
                    onclick="ModalInsertAndUpdate('modalWorkCenterDowntimeCauses');">Kaydet</button>
            </div>
            <!-- MODAL FOOTER END  -->
        </div>
    </div>
</div>
<!-- MODAL END  -->

<!-- MODAL SCRIPT  -->
<script>
    var paramssWorkCenterId;
    $(document).ready(async function () {

        var urlString = window.location.href;
        var url = new URL(urlString);
        var searchParams = url.searchParams;

        // Parametreleri al
        paramssWorkCenterId = searchParams.get('Id');
        await kartdoldur(paramssWorkCenterId).then(async () => {
            // İşlem tamamlandıktan sonra yapılacak işlemler burada
            //alert("İşlem tamamlandı!");
            await initializeGrid("WorkCenterDowntimeCauses", { "WorkCenterID": paramssWorkCenterId }).then(async () => {
                //       await dropdownFill("vw_WorkCenters", "-1", "workCenter_topSelect", "Code");
                await GetMethodDropdownFill(null, "WorkCenters", "GetWorkCenterSelectBox", null, "-1", "workCenter_topSelect", "Name");
                $('#workCenter_topSelect').val(paramssWorkCenterId);
            });

        }).catch(error => {
            // Hata durumunda yapılacak işlemler burada
            console.error("Hata oluştu:", error);
            //alert("Bir hata oluştu. Detaylar için konsolu kontrol edin.");
        });

    });


    ModalOpenMethods("WorkCenterDowntimeCauses", "update", "insert", "defaultFunction2");

    async function companyIDOnChange() {
        await relationDopdownFillGetByID("Branches", "GetByCompanyID", "formWorkCenterDowntimeCauses", "branchID", "Name", "ID", $('#companyID').val());
    }

    async function update(data) {
        console.log(JSON.stringify(data));

        $('#workCenterID').val(masterData[0].Id);
        $('#companyID').val(data.companyID ?? data.CompanyID);
        await companyIDOnChange();
        $('#branchID').val(data.branchID ?? data.BranchID);
        $('#workCenterDownTimeGroupID').val(data.WorkCenterDownTimeGroupID ?? data.workCenterDownTimeGroupID);
        $('#workTypeID').val(data.workTypeID ?? data.WorkTypeID);
    }

    async function insert() {
    }

    async function defaultFunction2() {
        $('#workCenterID').val(masterData[0].Id);

        await GetMethodDropdownFill(null, "Companies", "GetAll", null, "formWorkCenterDowntimeCauses", "companyID", "Name");
        await relationDopdownFillGetByID("SpecialCodes", "GetByCodeTypeID", "formWorkCenterDowntimeCauses", "workCenterDownTimeGroupID", "Code", "ID", SpecialCodeForType.Automaticlabeltype.value);
        await relationDopdownFillGetByID("SpecialCodes", "GetByCodeTypeID", "formWorkCenterDowntimeCauses", "workTypeID", "Code", "ID", SpecialCodeForType.Automaticlabeltype.value);

    }

    var masterData;

    async function kartdoldur(Idparameter) {
        var url = "/Methods/GetByForDropDown";
        const postData = {
            body: {
                "viewName": "vw_WorkCenters",
                "whereCause": {
                    "Id": Idparameter
                }
            }
        };

        var response = await fetch(url, {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
                // Diğer isteğe özel başlıkları buraya ekleyebilirsiniz.
            },
            body: JSON.stringify(postData)
        });

        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        else {
            var data = await response.json();
            masterData = data;
            console.log("Ana panel Bilgileri :" + JSON.stringify(data[0]));
            $('#workCenterID').val(data[0].Id);
            $('#lblGroupName').html(data[0].GroupName);
            $('#lblDepartmentName').html(data[0].DepartmentName);
            $('#lblName').html(data[0].Name);
            $('#lblCostCenterName').html(data[0].CostCenterName);
            $('#lblRICID').html(data[0].RECID);
            $('#lblRECVERSION').html(data[0].RECVERSION);
        }
    }


    function redirectToWorkCenterAnotherPage(page) {
        window.location.href = `${page}?Id=${paramssWorkCenterId}`;
    }
</script>
